html, body, head {
  margin: 0;
  padding: 0;
  height: 95%; }

body {
  font-size: 12pt;
  font-color: #080808;
  font-family: "Bitstream Vera Sans", Helvetica, sans-serif;
  background-color: #ededed;
  background-image: -moz-linear-gradient(bottom, #ededed 28%, #dedede 64%);
  background-image: -webkit-linear-gradient(bottom, #ededed 28%, #dedede 64%);
  background-repeat: no-repeat; }

h1 {
  font-size: 32pt;
  font-weight: normal;
  margin: 0.3em;
  text-shadow: 0 1px 0 white;
  letter-spacing: -2.2pt; }

h2 {
  font-size: 24pt;
  font-weight: normal;
  margin: 0.3em;
  text-shadow: 0 1px 0 white;
  letter-spacing: -2.2pt; }

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

#player-container {
  width: 720px;
  height: 420px;
  margin: 10px; }

ul.statistics {
  width: 100%;
  color: #3c3c3c;
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 10pt;
  text-align: left;
  list-style-type: none; }
  ul.statistics span.count {
    color: black; }
  ul.statistics li {
    margin: 0;
    height: 20px;
    padding: 5px;
    display: inline-block;
    background-color: white;
    border-radius: 0 0 0.5em 0.5em;
    border-left: 1px solid black;
    border-right: 1px solid black; }
    ul.statistics li:hover {
      background-color: #e1e1e1; }

.boxed {
  width: 740px;
  height: 440px;
  margin: 0 auto;
  border: 1px solid #bebebe;
  border-radius: 0.5em;
  box-shadow: inset -2px -1px 1px white, 0 3px 5px #d8d8d8;
  background-image: -moz-linear-gradient(top, #fcfcfc, #f6f6f6);
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f6f6f6); }

.options-container {
  width: 740px;
  height: 30px;
  margin: 10px auto;
  padding: 5px;
  text-align: left; }

a {
  color: #3c3c3c;
  text-decoration: none; }
  a:hover {
    color: #0a0a0a; }

.option {
  cursor: default;
  height: 25px;
  border: 1px solid #bebebe;
  display: inline;
  padding: 5px 10px;
  text-align: center;
  font-size: 9pt;
  box-shadow: inset -2px -1px 1px white, 0 3px 5px #d8d8d8;
  border-radius: 0.25em;
  background-image: -moz-linear-gradient(top, #fcfcfc, #f6f6f6);
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f6f6f6);
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }
  .option.pop-up {
    cursor: pointer; }
    .option.pop-up:hover {
      color: #0a0a0a; }
