- content_for :assets do
  == javascript_include_tag :jwplayer, :jquery

  javascript:
    (function update_viewers() {
      $.get("/streams/#{@stream.name}/viewers", function(data) {
      $(".viewers").text(data + " " + (data == "1" ? "person watching" : "people watching"));
      });

      setTimeout(update_viewers, 60 * 1000);
    })();

    $(document).ready(function() {
      $(".pop-up").click(function() {
        $("#player-container")[0].sendEvent("STOP");
        window.open("/streams/#{@stream.name}/popup", "Wadsworth", "height=420,width=720");
      });
    });

.centered.container
  h2 = @stream.title || "#{@stream.name}'s stream"

  .boxed
    .streaming.video-player#player-container
      | Your browser does not support javascript. You're screwed.

  .options-container
    .option.viewers
      = @stream.viewers.count
      - @stream.viewers.count > 1 ? " person watching" : " people watching"

    .option.pop-up Pop-up

javascript:
  jwplayer("player-container").setup({
    'file': '#{@stream.name}',
    'skin': '/media/skins/glow.zip',
    'width': '720',
    'height': '420',
    'volume': '100',
    'streamer': 'rtmp://cycle.io/live',
    'autostart': 'true',
    'controlbar': 'bottom',
    'flashplayer': '/media/player.swf',
    'bufferlength': '3'
  });
