html, body, head
  margin: 0
  padding: 0
  height: 95%

body
  font:
    size: 12pt
    color: rgb(8, 8, 8)
    family: "Bitstream Vera Sans", Helvetica, sans-serif

  background-color: rgb(237, 237, 237)
  background-image: -moz-linear-gradient(bottom, rgb(237, 237, 237) 28%, rgb(222, 222, 222) 64%)
  background-image: -webkit-linear-gradient(bottom, rgb(237, 237, 237) 28%, rgb(222, 222, 222) 64%)
  background-repeat: no-repeat

h1
  font:
    size: 32pt
    weight: normal

  margin: .3em
  text-shadow: 0 1px 0 rgb(255, 255, 255)
  letter-spacing: -2.2pt

h2
  font:
    size: 24pt
    weight: normal

  margin: .3em
  text-shadow: 0 1px 0 rgb(255, 255, 255)
  letter-spacing: -2.2pt

.container
  width: 100%
  margin: 0 auto
  text-align: center

#player-container
  width: 720px
  height: 420px
  margin: 10px

ul.statistics
  width: 100%
  color: rgb(60, 60, 60)
  margin: 10px 0 0 0
  padding: 0
  font-size: 10pt
  text-align: left
  list-style-type: none

  span.count
    color: rgb(0, 0, 0)

  li
    margin: 0
    height: 20px
    padding: 5px
    display: inline-block
    background-color: rgb(255, 255, 255)
    border-radius: 0 0 .5em .5em
    border-left: 1px solid #000
    border-right: 1px solid #000

    &:hover
      background-color: rgb(225, 225, 225)

.boxed
  width: 740px
  height: 440px
  margin: 0 auto
  border: 1px solid rgb(190, 190, 190)
  border-radius: .5em
  box-shadow: inset -2px -1px 1px rgb(255, 255, 255), 0 3px 5px rgb(216, 216, 216)
  background-image: -moz-linear-gradient(top, rgb(252, 252, 252), rgb(246, 246, 246))
  background-image: -webkit-linear-gradient(top, rgb(252, 252, 252), rgb(246, 246, 246))

.options-container
  width: 740px
  height: 30px
  margin: 10px auto
  padding: 5px
  text-align: left

a
  color: rgb(60, 60, 60)
  text-decoration: none

  &:hover
    color: rgb(10, 10, 10)

.option
  cursor: default
  height: 25px
  border: 1px solid rgb(190, 190, 190)
  display: inline
  padding: 5px 10px
  text-align: center
  font-size: 9pt
  box-shadow: inset -2px -1px 1px rgb(255, 255, 255), 0 3px 5px rgb(216, 216, 216)
  border-radius: .25em
  background-image: -moz-linear-gradient(top, rgb(252, 252, 252), rgb(246, 246, 246))
  background-image: -webkit-linear-gradient(top, rgb(252, 252, 252), rgb(246, 246, 246))

  user-select: none
  -ms-user-select: none
  -moz-user-select: none
  -khtml-user-select: none
  -webkit-user-select: none
  -webkit-touch-callout: none

  &.pop-up
    cursor: pointer

    &:hover
      color: rgb(10, 10, 10)
